.bars {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: flex-end;
  gap: 2px;
  border-bottom: 1px solid #e2cca5;

  .bar {
    height: 200px;
    flex-grow: 1;
    background-color: #e2cca5;
    transition: all 0.2s ease-in-out;
  }
}
